*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --blue-bg-color: #359BFC;
    --orange-bg-color: #fc8135;
  }

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
    padding: 2rem 0;
    background-color: #359BFC;
    color: white;
}
  
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.boardContainer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 4rem;
    position: relative;
}

.createNewTaskContainer {
    margin-top: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

.columnContainer {
    flex: 1;
    margin: 0 10px; 
    background-color: #f0f0f0;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
}

.title {
    padding: 0.8rem 0;
    text-align: center;
    font-size: 1.4rem;
    color: white;
}

.title > a {
    color: inherit;
    text-decoration: none;   
}

p > a {
    color: inherit;
    text-decoration: none;   
}

.taskContainer {
    position: relative;
    flex: 1;
    margin-top: 1rem;
    margin: 0 0.2rem;
    margin-bottom: 0.2rem;
    padding-top: 0.3rem;
    text-align: center;
    font-size: 1.1rem;
    cursor: grab;
    pointer-events: auto;
    border-radius: 3%;
    overflow-y: auto;
}

.taskContainer:hover {
    color: #7c7b7b;
}

.dateTime {
    font-size: 0.8rem;
    padding: 0.4rem;
    text-align: center;
}

.editIcon {
    position: absolute; 
    bottom: 5px; 
    left: 5px; 
    background-color: white;
    border: none;
    font-size: 1rem;
}

.deleteIcon {
    position: absolute; 
    bottom: 5px; 
    right: 5px; 
    background-color: white;
    border: none;
    font-size: 1rem;
}

.editIcon:hover, .deleteIcon:hover {
  font-size: 1.1rem;
}

.editIcon.dragging, .deleteIcon.dragging {
    background-color: lightblue;
}

.createNewTaskContainer {
    display: flex;
    align-items: center;
  }

.createNewInput, .createNewButton {
    height: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(142, 142, 142);
}

.createNewButton {
    background-color: #fce235;
    width: 150px;
    margin-left: 2px;
}

.createNewButton:hover  {
  color: rgb(255, 255, 255);
}

.createNewInput:hover {
    background-color: #d4eaff;
}

.deleteButton, .saveButton {
    background-color: red;
    color: white;
    font-weight: 500;
    padding: 4px 9px;
    border-radius: 10px;
    margin-top: 3rem;
    border: 1px solid rgb(142, 142, 142);
  }

.saveButton {
    background-color: rgb(0, 182, 0);
    margin-right: 0.5rem;
}

.saveButton:hover, .deleteButton:hover  {
  color: black;
}

.icons {
  font-size: 1.3rem;
  vertical-align: middle;
}

.columnContainer.dark-mode .title {
    background-color: #fc8135; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem 0;
    background-color: #359BFC;
    color: white;
}

/* // Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
    margin-right: 3px;
}

.close:hover,
.close:focus {
    color: rgb(181, 181, 181);
    text-decoration: none;
    cursor: pointer;
}

.taskContainer.modalOpen:hover {
  color: inherit;
  cursor: default;
}

/* Animations */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.5s ease-in-out;
  }
  

  /* Media Queries */

  @media screen and (max-width: 900px) {
    .boardContainer {
      display: flex;
      flex-direction: column; 
    }

    .columnContainer {
        margin-bottom: 2rem;
    }

    .columnContainer:last-child {
        margin-bottom: 10rem;
    }
    .editIcon, .deleteIcon {
        font-size: 1.4rem;
    }
  }